* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

label {
	margin: 0;
	padding: 0;
}

/*nav*/
nav{
  padding-top: 30px;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  transition: .5s;
}

.logo{
  color: white;
  font-size: 35px;
  font-weight: bold;
}

nav ul{
  margin-bottom: 0;
}

nav ul li{
  display: inline-block;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: #118FF1;
  transition: .5s;
  text-decoration: none;
  color: #fff;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

nav.navAnimate {
	padding-top: 0;
	height: 60px;
	padding: auto;
	background-color: #1b9bff;
	transition: .5s;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	border-bottom: 1px solid #fff;
}



/*header*/

.header-tag {
	font-size: 36px;
	font-weight: bold;
	color: #444;
	text-transform: capitalize;
}

.header-desc {
	font-weight: lighter;
	color: #999;
	text-transform: capitalize;
}

.home {
	background-image: url(../Image/main_banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 800px;
	/*margin-top: -56px;*/
}

.home-desc {
	position: absolute;
	margin-top: 200px;
}

.home-desc h2 {
	font-size: 64px;
	font-weight: bold;
	color: #fff;
}

.home-desc p {
	font-size: 14px;
	font-weight: lighter;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 30px;
}

/*stats*/

.stats-box {
	margin-top: -40px;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.stats-box h2 {
	font-size: 30px;
	color: #444;
}

.stats-box p {
	font-size: 20px;
	font-weight: lighter;
	color: #999;
}


/*services*/
.services {
	margin-top: 100px;
	
}

.services-card {
	padding: 20px;
	margin-bottom: 20px;
}

.services-card:hover {
	background-color: #efefef;
	transform: translateY(-5px);
	transition: .5s;
}

.services-img {
	width: 80px;
	height: 80px;
	margin: 5px auto;
}

.services-img img {
	width: 100%;
}

/*destination*/
.destination {
	padding: 50px 0;
	background-color: #f4f4f4;
}

.destination-card {
	margin-bottom: 20px;
}

.destination-card:hover {
	box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
	transform: translateY(-5px);
	transition: .5s;
}

.destination-img img {
	width: 100%;
}

.destination-info {
	padding: 10px;
}

.info-desc ul li {
	color: #999;
	margin: 5px 0;
}

/*gallery*/
.gallery {
	margin: 50px 0;
}

.gallery-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}

/*testi*/

.testimonials {
	background-color: #f4f4f4;
	margin-top: 100px;
	padding-top: 50px;
}

.testimonial-card {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	border:1px solid #ECECEC;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
		
.testimonial-card p {
	font-size: 17px;
	line-height: 1.5;
	margin: 0 0 17px 0;
	font-weight: 300;
}

.testimonial-id h4 {
	font-size: 16px;
	font-weight: medium;
}

.testimonial-id p {
	font-size: 14px;
	font-weight: lighter;
	color: #999;
}
		
.item {
	text-align: center;
	padding: 50px;
	margin-bottom:80px;
	opacity: .2;
	transform: scale3d(0.8, 0.8, 1);
	transition: all 0.3s ease-in-out;
}

.owl-item.active.center .item {
	opacity: 1;
	transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
	transform-style: preserve-3d;
	max-width: 90px;
    margin: 0 auto 17px;
    border-radius: 50%;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
	background: #3190E7;
	transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
	transform: translateY(-80px);
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
	background: #3190E7;
	display: inline-block;
	height: 20px;
	border-radius: 50%;
	margin: 0 2px 5px;
	transform: translate3d(0px, -50%, 0px) scale(0.3);
	transform-origin: 50% 50% 0;
	transition: all 250ms ease-out 0s;
	width: 20px;
}

/*footer*/
.footer p {
	line-height: 32px;
}

.footer ul li {
	margin: 7px 0;
}

.link,.contact {
	padding-left: 80px; 
}

.copyright {
	background-color: #f4f4f4;
}

/*responsive*/
@media (max-width: 952px){
  .logo{
    font-size: 30px;
  }
  nav ul li a{
    font-size: 14px;
  }
}

@media (max-width: 858px){
   nav .container {
   	align-items: center;
   }

  .checkbtn{
    display: block;
  }

  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
  }

  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  
  #check:checked ~ ul{
    left: 0;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}
